@font-face {
   font-family: "Lemon";
   src: url("../fonts/Lemon-Regular.woff2") format("woff2"),
      url("../fonts/Lemon-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Work Sans";
   src: url("../fonts/WorkSans-Regular.woff2") format("woff2"),
      url("../fonts/WorkSans-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Work Sans";
   src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"),
      url("../fonts/WorkSans-SemiBold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}