// Animaciones mundos
@keyframes worldActive {
   0% {
      transform: scaleX(1);
   }

   2%,
   4% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   6%,
   10%,
   15%,
   18% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(3deg);
   }

   8%,
   12%,
   16% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(-3deg);
   }

   20% {
      transform: scaleX(1);
   }



   22%,
   24% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   26%,
   30%,
   35%,
   38% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(3deg);
   }

   28%,
   32%,
   36% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(-3deg);
   }

   40% {
      transform: scaleX(1);
   }



   42%,
   44% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   46%,
   50%,
   55%,
   58% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(3deg);
   }

   48%,
   52%,
   56% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(-3deg);
   }

   60% {
      transform: scaleX(1);
   }



   62%,
   64% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   66%,
   70%,
   75%,
   78% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(3deg);
   }

   68%,
   72%,
   76% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(-3deg);
   }

   80% {
      transform: scaleX(1);
   }



   82%,
   84% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   86%,
   90%,
   93%,
   95% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(3deg);
   }

   88%,
   92%,
   94% {
      transform: scale3d(1.5, 1.5, 1.5) rotate(-3deg);
   }

   97% {
      transform: scaleX(1) scale(1);
   }

   100% {
      transform: scale(1.2);
   }
}

@keyframes worldUnlocked {
   0% {
      filter: grayscale(.6);
   }

   100% {
      filter: grayscale(0);
   }
}

@keyframes worldUnlocked__locked {
   0% {
      opacity: 1;
      transform: scale(1);
   }

   100% {
      opacity: 0;
      transform: scale(2);
   }
}



//Animaciones hero
@keyframes heroTeleportation {
   0% {
      transform: scale3d(1, 1, 1) translateY(0);
      opacity: 1;
   }

   37.5% {
      opacity: 0;
      transform: scale3d(0, 1.6, 1) translateY(-50px);
   }
   62.5% {
      opacity: 0;
      transform: scale3d(0, 1.6, 1) translateY(-50px);
   }
   100% {
      transform: scale3d(1, 1, 1) translateY(0);
      opacity: 1;
   }
}


@keyframes heroTransformation2 {
   0% {
      transform: scaleX(1);
      background-position: 0 center;
   }

   10%,
   20% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   30%,
   50%,
   70%,
   90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
   }

   40%,
   60%,
   80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
   }

   94.9% {
      background-position: 0 center;
   }

   95% {
      background-position: 20% center;
   }

   100% {
      transform: scaleX(1);
      background-position: 20% center;
   }
}

@keyframes heroTransformation3 {
   0% {
      transform: scaleX(1);
      background-position: 20% center;
   }

   10%,
   20% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   30%,
   50%,
   70%,
   90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
   }

   40%,
   60%,
   80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
   }

   94.9% {
      background-position: 20% center;
   }

   95% {
      background-position: 40% center;
   }

   100% {
      transform: scaleX(1);
      background-position: 40% center;
   }
}

@keyframes heroTransformation4 {
   0% {
      transform: scaleX(1);
      background-position: 40% center;
   }

   10%,
   20% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   30%,
   50%,
   70%,
   90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
   }

   40%,
   60%,
   80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
   }

   94.9% {
      background-position: 40% center;
   }

   95% {
      background-position: 60% center;
   }

   100% {
      transform: scaleX(1);
      background-position: 60% center;
   }
}

@keyframes heroTransformation5 {
   0% {
      transform: scaleX(1);
      background-position: 60% center;
   }

   10%,
   20% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   30%,
   50%,
   70%,
   90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
   }

   40%,
   60%,
   80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
   }

   94.9% {
      background-position: 60% center;
   }

   95% {
      background-position: 80% center;
   }

   100% {
      transform: scaleX(1);
      background-position: 80% center;
   }
}

@keyframes heroTransformation6 {
   0% {
      transform: scaleX(1);
      background-position: 80% center;
   }

   10%,
   20% {
      transform: scale3d(.9, .9, .9) rotate(-3deg);
   }

   30%,
   50%,
   70%,
   90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
   }

   40%,
   60%,
   80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
   }

   94.9% {
      background-position: 80% center;
   }

   95% {
      background-position: 100% center;
   }

   100% {
      transform: scaleX(1);
      background-position: 100% center;
   }
}


@keyframes earnBadge {
   0% {
      opacity: 0;
      transform: scale(10);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}